#outerWrapper {
  width:50%;
  font-family: Arial, Helvetica, sans-serif;
  margin:auto; /* Centers the Outer Wrapper in the parent wrapper */ 
  padding:5px;
  border:1px solid gray;
  min-height:800px;
  display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: 
      "logo header"
      "sidebar content"
      "footer footer";
  }

  #logoArea {
    grid-area:logo;
    background-color:yellow;
  }

  #logoImage {
    width:100px;
    height:100px
  }

  #headerArea {
    grid-area: header;
    background-color:yellow;
    text-align:center;
    padding-top:30px;
  }

  #siteTitle {
    font-size:25px ;
  }

  #siteSubTitle {
    font-size:12px;
  }

#leftSidebarArea {
    grid-area: sidebar;
    /* background-color:lightblue; */
  }

li.menuEntry {
  list-style-type:none; /* no bullets */
}

#menu {
  margin-top:10px;
}

a.menuButton {
  display:block;
  padding-top:10px; 
  padding-bottom:10px;
  margin-bottom:2px;
  text-align:center;
  width:96%;
  background-color: grey;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}
a.menuButton:hover {
  font-weight: bold;
}

#contentArea {
    grid-area: content;
    background-color:rgb(219, 213, 213);
    padding:20px;
  }

#footerArea {
    grid-area: footer;
    background-color:orange;
    text-align: center;
  }
  .buttonHolder { /* Uses a class selector */
    position:relative;
    display:grid;
}   
.stdButton {
    margin:10px auto 10px auto; /* top, right, bottom, left (TRouBLe) */
}

#buttonTable {
    table-layout: fixed;
    width:100%
}
.paragraphImage {
  float:left;
  margin-right:20px;
  margin-bottom:20px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  width:150px;
  height:150px;
}
#openingParagraph {
  width:auto;
  margin-left:127px
}
#openingParagraph p:first-child {
  margin-top:0px;
  padding-top:0px;
}
#outerWrapper > #contentArea > #openingParagraph > ul.homePageList {
  margin-left:20px;
}
