/* body */
body {
    margin:20px;
    background-color:rgb(208, 215, 202);
}
div#top_container, div#other_links {
    width:100%;
    margin-bottom:10px;
}

/* Page Header */
h1#top_header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:brown;
    text-align: center;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 2px black;
    margin-bottom: 20px;
}

/* div containing table and image */
div#main_content {
    overflow:auto; /* needed because child divs are floated to make it expand to contain child divs. */
    width:100%;
    margin-bottom: 7px;
}
/* div containing just the link table */
div#link_table {
    padding-top:40px;
}
/*Pagelink Tables */
table#ss_pagelink_table {
    margin-left:40px;
    padding-top:20px;
    width: 40%;
    float:left;
}

/* Pagelink table header */
th#ss_table_header {
    float:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    text-align: left;
}

/* Pagelink table rows */
tr.odd_row, tr.even_row {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size:20px;
    height: 30px;
}
tr.odd_row {
    background-color: aquamarine;
}
tr.even_row {
    background-color:dimgrey;
}
/* Pagelink table data */
table#ss_pagelink_table td {
    border:1px solid black;
    padding-left:5px;
    padding-right:5px;
}

a.ss_pagelink {
    text-decoration: none;
    color:black;
    padding-bottom: 5px;
    padding-right:10px;
}
a.ss_pagelink:hover {
    color:gray;
}

a.ss_pagelink:hover::after {
  content: " >>";
}


/*Intro paragraphs */
h2#intro_paragraph {
    background-color: grey;
    border: 1px dotted black;
    padding:15px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
/* Assignment Instructions */
div#assignment_instructions {
    width:100%;
    float:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    border: 1px solid grey;
    margin-bottom:7px;
    padding: 4px;
}

/* Class picture */
div#class_pics>img {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
    width: 40%;
    float:right;
    margin-right:10px;
    border-radius: 15px;

}
div#other_links {
    float:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    text-align: center;
    background-color: cadetblue;
}
.subtext {
    font-weight: Bold;
    color:red;
}